.process{
    margin-top: 128px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    &__text,
    &__img{
        width: calc(50% - 40px);
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }
    &__btn{
        background-color: #E7E8E3;
        border-radius: 32px;
        color: #000;
        padding: 4px 12px;
        font-size: 14px;
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
    }
    &__desc{
        color: #65665C;
        font-size: 18px;
        font-weight: 400;
    }
    &__wrapper_card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        
    }
}
.card{
    width: calc(50% - 12.5px);
    &__title{
        margin-top: 16px;
        font-size: 20px;
        font-weight: 700;
    }
    &__desc{
        margin-top: 18px;
        color: #65665C;
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width:990px) {
    .process{
        &__wrapper{
            flex-direction: column;
        }
        &__img,
        &__text{
            width: 100%;
        }
        &__img img{
            width: 100%;
        }
        &__btn{
            margin: auto;
        }
        &__title{
            margin: auto;
            text-align: center;
        }
        &__desc{
            margin: auto;
            text-align: center;
        }
    }
}
@media (max-width:785px) {
    .process{
        &__title{
            font-size: 40px;
        }
        &__desc{
            font-size: 16px;
        }
        &__wrapper_card{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__card{
            width: 100%;
        }
    }
    .card{
        &__logo{
            margin: auto;
        }
        &__title{
            text-align: center;
        }
        &__desc{
            margin: auto;
            text-align: center;
        }
        }
    
    
}